html, body {
    background: black;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.uptitle {
    background: #00bfff;
    color: black;
    text-align: center;
}
#botonmusica {
    background: #aabfff;
    border: thick solid #0085d1;
    color: black;
    padding: 10px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 8px 8px;
    cursor: pointer;
    border-radius: 12px;
}